[submodule "bp-yocto-layer"]
	path = bp-yocto-layer
	url = https://github.com/black-parrot-sdk/bp-yocto-layer.git
[submodule "meta-linux-mainline"]
	path = meta-linux-mainline
	url = https://github.com/black-parrot-sdk/meta-linux-mainline.git
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
